.header div:hover {
   color:lightblue;
   cursor: pointer;
} 

.header {
    color:black;
}

.header > div {
    width:100%;
    height:100%;
}

.container-head {
    height: 50px;
}

div,h1 {
    font-style: Segoe UI;
}

.title {
    margin-top: 0;
    color:white;
}
