.header div:hover {
   color:lightblue;
   cursor: pointer;
} 

.header {
    color:black;
}

.header > div {
    width:100%;
    height:100%;
    text-align: center;
}

a:focus >div {
    background-color: #376996;
    color: #FEF6F6;
}

.container-head {
    height: 33px;
}

div,h1 {
    font-style: Segoe UI;
}

.title {
    margin-top: 0;
    color:white;
}
