table {
    /* border-collapse: collapse; */
    width: 75%;

}

table,
th {
    /* border: 1px solid black; */
    font-size: larger;
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

table,
td {
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}