.header div:hover {
   color:lightblue;
   cursor: pointer;
} 

.header {
    color:black;
}

.bg {
    background-color: #ECEBE7;
}

.active {
    background-color: #376996;
    color: #FEF6F6;
}

.container-head {
    font-size: 120%;
}

div,h1 {
    font-style: Segoe UI;
}

.title {
    margin-top: 0;
    color:white;
}
