body {
    background-color:  #6298C8;
}

.bg {
    background-color:  #6298C8;
}

.cardbg {
    background-color: #ECEBE7;
}

.button{
    font-weight: bold;
    background-color: #1D3461;
    color: #ECEBE7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.images{
    width:350px;
    height:300px;
    align-self: center;
    margin-top: 10px;
}