body {
    background-color:  #6298C8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
    background-color:  #6298C8;
}

.cardbg {
    background-color: #ECEBE7;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.button{
    font-weight: bold;
    background-color: #1D3461;
    color: #ECEBE7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.images{
    /* width:400px;
    height:100px; */
    width:auto;
    height:auto;
    align-self: center;
    /* margin-top: 10px; */
}