.wrap {
    word-wrap:break-word; 
}

.subHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: #715d5c;
}

.wrapAdmin {
    word-wrap:break-word; 
    hyphens: auto;
    width: 80%;

}

.borderTest {
    margin: 5px;
    border-style: solid;
    border-color:#715d5c5e;
    border-width: thin;
}